<nav class="post-navigation">
  <div class="nav-links">
    {% if page.previous.url %}
    <div class="nav-previous">
      <a href="{{ page.previous.url | relative_url }}" rel="prev">
        <span class="nav-subtitle">前の記事</span>
        <span class="nav-title">{{ page.previous.title }}</span>
      </a>
    </div>
    {% endif %}
    
    {% if page.next.url %}
    <div class="nav-next">
      <a href="{{ page.next.url | relative_url }}" rel="next">
        <span class="nav-subtitle">次の記事</span>
        <span class="nav-title">{{ page.next.title }}</span>
      </a>
    </div>
    {% endif %}
  </div>
</nav>
